{%extends 'all-recipes/base.html'%}
{% load bootstrap3 %}
{% load static%}

{% block content %}
{{block.super}}

<div class="container">

    <!-- Looping through news   -->
    {% for recipe_item in recipe %}
  
    <div class="row">
      <!-- displaying  recipes -->
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <h2 class="text-center"> {{ recipe_item.title }} </h2>
      </div>
  
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <img src="{{recipe_item.food_image.url}}" class="img-responsive" alt="Image">
    </div>
  
  
    {% empty %}
    <div class="row">
      <h2 class="text-center">There No Recipes</h2>
    </div>
    {% endfor %}
  
  </div>
  <div class="container-fluid">

    <form  action="{%url 'recipeToday'%}" method="post">
      {%csrf_token%}
  
      {% bootstrap_form letterForm layout='inline' %}
      <input type="submit" value="Subscribe">
    </form>
  
  </div>
  

{% endblock %}
<!--End of the block content-->
{% block scripts %} {{block.super}}
  <script type="text/javascript" src="{%static 'js/recipeletter.js'%}"></script>
{% endblock %}