{%extends 'all-recipes/base.html'%}
{% load bootstrap3 %}
{% load static%}

{% block content %}
{{block.super}}
<div class="  banner text-center">
  <div class="header">
      <div class="container image">
          <h3>Welcome to Global Recipes </h3>
          <!-- <h2 id="category">An Application That En</h2> -->
   <br>
   
  <h4>An Application That Enables You To Find All The Amazing Global Recipes. </h5>
      </div>
  </div>
</div>


<div class="container">

    <!-- Looping through news   -->
    {% for recipe_item in recipe %}
  
    <div class="row">
      <!-- displaying  recipes -->
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <h2 class="text-center"> {{ recipe_item.title }} </h2>
      </div>
  
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <img src="{{image_item.image.url}}" class="img-responsive" alt="Image">
    </div>
  
  
    {% empty %}
    <div class="row">
      <h2 class="text-center">There No Recipes</h2>
    </div>
    {% endfor %}
  
  </div>

  <!-- Landing Page -->

  
        <hr>
    <body id="bodyimage">
        <div class="card-columns">
    {% for image in images %}
    <div class="poraloid" data-toggle="modal" data-target="#{{image.id}}" >
        <img src="{{image.image.url}}" alt="{{image.name}}" class="card-img" class="img-responsive" width="200px" height="150px">
    </div>
    
    <div class="modal fade " id="{{image.id}}" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-md" role="document">
                    <div class="modal-content modalcard">
                        <div class="modal-header">
                            <h5 class="modal-title" id="imageheader">{{image.name}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        
                        <div class="modal-body">
                            <img src="{{image.image.url}}" alt="{{image.name}}" class="img-fluid">
                            <p class="imgdesc text-center">Name:{{image.name}}</p><hr>
                            <p class="imgdesc text-center">Chef:{{image.chef}}</p><hr>
                            <p class="imgdesc text-center">Food Name:{{image.food_name}}</p><hr>
                            <p class="imgdesc text-center">Ingredients:{{image.ingredients}}</p><hr>
                            <p class="imgdesc text-center">Procedure:{{image.procedure}}</p><hr>
                            <span class="btn btn-sm btn-outline-dark">Category:{{image.category}}</span> <hr><a 
                                href="" class="btn btn-sm btn-outline-dark">Location:{{image.location}}</a>
                                <p class="imgdesc text-center">Date:{{image.date}}</p><hr>
                        </div>
                        
                        <div class="modal-footer">
                           
                            <input class="form-control input-lg" type="text" value="{{image.image.url}}" id="{{image.id}}.url">
                            
                            <button class="btn btn-dark btn-sm" onclick="copyLink('{{image.id}}.url')">Copy Image</button>
                            <button  type="button" class="btn btn-dark btn-sm" data-dismiss="modal">Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="container-fluid">

  <form  action="{%url 'recipeToday'%}" method="post">
    {%csrf_token%}

    {% bootstrap_form letterForm layout='inline' %}
    <input type="submit" value="Subscribe">
  </form>

</div>

    
</body>    

  

{% endblock %}
<!--End of the block content-->
{% block scripts %} {{block.super}}
  <script type="text/javascript" src="{%static 'js/recipeletter.js'%}"></script>
{% endblock %}